@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @{
        string runtime = string.Join("\\", typeof(string).Assembly.Location.Split('\\').SkipLast(1));
        string aspnetcore = string.Join("\\", typeof(Microsoft.AspNetCore.Builder.IApplicationBuilder).Assembly.Location.Split('\\').SkipLast(1));
        var expectedRuntime = System.Environment.GetEnvironmentVariable("EXPECTED_DOTNETRUNTIME_VERSION");
        var expectedAspnetcore = System.Environment.GetEnvironmentVariable("EXPECTED_ASPNETCORE_VERSION");
        if (!string.IsNullOrEmpty(expectedRuntime) && !runtime.Contains(expectedRuntime))
        {
            throw new InvalidOperationException(string.Format("{0} is missing in {1}", expectedRuntime, runtime));
        }
        if (!string.IsNullOrEmpty(expectedAspnetcore) && !aspnetcore.Contains(expectedAspnetcore))
        {
            throw new InvalidOperationException(string.Format("{0} is missing in {1}", expectedAspnetcore, aspnetcore));
        }
        <p>NetCore: <b>@runtime</b></p>
        <p>AspNetCore: <b>@aspnetcore</b></p>
    }
</div>
